:root {
  --primary-color: #1a365d; /* current header/text color*/

  --accent-color: #ffb703; /* Excellent for "Current" page indicators or button highlights*/

  --secondary-color: #219ebc; /* Good for hover states on links*/

  --background-color: #f8f9fa; /* current header/text color*/

  --text-color: #333333; /* current header/text color*/

  --text-font: "Open Sans", sans-serif;

  --heading-font: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
  font-family: var(--text-font);
}
header {
  text-align: center;
  border-bottom: 1px solid var(--primary-color);
  /* padding: 0.1rem; */
}
header h1 {
  color: var(--primary-color);
  font-family: var(--heading-font);
}
main {
  background-color: var(--background-color);
  margin: 1rem auto;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  width: 94%;
}
main div#cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  align-items: center;
  /* background-color: green; */
  margin: 0.8rem;
  /* padding: 1rem; */
}
main section {
  background-color: white;
  margin: 0.8rem auto;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  width: 98%;
  padding: 1rem;
}
section h2 {
  text-align: center;
  color: var(--primary-color);
  padding-bottom: 0.6rem;
  font-family: var(--heading-font);
}
section p {
  text-align: center;
  padding-bottom: 0.3rem;
}
main img {
  display: block;
  margin: 0 auto;
  aspect-ratio: 4 / 5;
  object-fit: cover;
  padding-top: 0.4rem;
  /* padding-bottom: 1rem; */
}

footer {
  width: 100%;
  /* bottom: 0; */
  /* position: absolute; */
  background: #dddddd;
  padding: 1rem;
  text-align: center;
  z-index: 1000;
}

@media (min-width: 38rem) {
  main div#cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
